/* index page (past styles) ................................................................................................................ */

.background-screen{
    background-image:linear-gradient(rgba(0, 33, 60, 0.9)) , url(../images/to-do-list-seamless-pattern-background-business-flat-illustration-checklist-task-list-s.jpg) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    height: auto !important;
    min-height: 100vh !important;
    justify-content: center !important;
    align-items: center !important;
}
.setting_and_user_button{
    transition-duration: 300ms !important;
    border: 2px solid rgba(255, 255, 255, 0) !important;
}
.setting_and_user_button:hover{
    background-color: rgb(188, 212, 253) !important;
    border: 2px solid rgb(42, 116, 255) !important;
}
.setting_box{
    width: 10px;
}
.todo_item_span_count{
    width:20px ;
    height:20px ;
}
.todo_item_style{
    width: 820px;
    word-wrap: break-word;
    display: inline-block;
}
.todo_item_buttons_box{
    height: 50px;
    left: -250px;
}
.offcanvas_help_section{
    background: linear-gradient(rgb(0, 68, 123) , rgb(0, 68, 123 , 0.8) , rgb(0, 68, 123 , 0.6) , rgb(0, 68, 123 , 0.4) , rgb(0, 68, 123 , 0.2)) !important;
}
.delete_all_item_box{
    bottom: 150px;
    left: 10%;
    right: 10%;
}
.help_button_box_button i{
    transition-duration: 200ms;
    top: 7px;
    right:7px;
}
.help_button_box_button:hover i{

    top: 9px;
    right:7px;
    font-weight: bolder;
}
.delete_all_item_button{
    transition-duration: 300ms;
}
.delete_all_item_button:hover{
    background-color: rgb(255, 175, 175) !important;
}
.rubic_font{
    font-family: "Rubik", sans-serif;
}
.switch_light_and_dark_mode_button{
    top: 75px !important;
    left: 16px !important;
    border:2px solid rgb(183, 202, 255) !important;
    background-color: rgb(0, 92, 168) !important;
    color: rgb(214, 225, 255) !important;
    transition-duration: 300ms;
}
.switch_light_and_dark_mode_button:hover{
    background-color: rgb(0, 60, 109) !important;
}
.circle-top-right {
    top: 8px;
    right: 8px;
}
.circle-top-left {
    top: 8px!important;
    left: 8px!important;
}
.circle-bottom-right {
    bottom: 8px;
    right: 8px;
}
.circle-bottom-left {
    bottom: 8px;
    left: 8px;
}



@media (min-width: 300px) and (max-width: 484px) {
    .todo_item_style {
        width: 220px !important;
    }
    .offcanvas_help_section{
        width: 70% !important;
    }
    .todo_input_and_add_button_border_box{
        width: 90% !important;
    }
    .todo_input_and_add_button_border_box{
        width: 100% !important;
    }
    .input_beside_icon_box{
        padding:0px !important;
    }
    .todo_input::placeholder{
        font-size: 15px;
    }
    .todo_add_button{
        font-size: 15px !important;
        padding: 0 !important;
    }
    .heading_todo_list{
        padding: 10px 20px !important;
    }
    .todo_header_box{
        padding: 0 !important;
    }
    .switch_light_and_dark_mode_button{
        top: 50px !important;
        left: 7px !important;
    }
    .switch_light_and_dark_mode_button i{
        font-size: 15px !important;
    }
    .offcanvas_open_button i{
        font-size: 15px !important;
    }
    .offcanvas_open_button{
        top: 5px !important;
        left: 7px !important;
    }
}

@media (min-width: 485px) and (max-width: 549px) {
    .todo_item_style {
        width: 340px !important;
    }
    .offcanvas_help_section{
        width: 55% !important;
    }
    .switch_light_and_dark_mode_button{
        top: 50px !important;
        left: 10px !important;
    }
}

@media (min-width: 550px) and (max-width: 767px) {
    .todo_item_style {
        width: 370px !important;
    }
    .offcanvas_help_section{
        width: 50% !important;
    }
    .switch_light_and_dark_mode_button{
        top: 75px !important;
        left: 16px !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .todo_item_style {
        width: 550px !important;
    }
    .switch_light_and_dark_mode_button{
        top: 75px !important;
        left: 16px !important;
    }
}

@media (min-width: 992px) and (max-width: 1399px) {
    .todo_item_style {
        width: 630px !important;
    }
    .switch_light_and_dark_mode_button{
        top: 75px !important;
        left: 16px !important;
    }
}

@media (min-width: 1400px) and (max-width: 1499px) {
    .todo_item_style {
        width: 820px !important;
    }
    .switch_light_and_dark_mode_button{
        top: 75px !important;
        left: 16px !important;
    }
}
.circle-top-right {
    top: 8px;
    right: 8px;
}
.circle-top-left {
    top: 8px;
    left: 8px;
}
.circle-bottom-right {
    bottom: 8px;
    right: 8px;
}
.circle-bottom-left {
    bottom: 8px;
    left: 8px;
}



/* index page (new styles) ................................................................................................................ */
.dm_remove_all_item_text{
    color: rgb(215, 215, 215) !important;
}
.dm_Help_buttons_dropdown_button{
    color: rgb(183, 202, 255) !important;
    border: 2px solid rgb(183, 202, 255) !important;
}
.dm_Help_buttons_dropdown_box{
    background-color: rgb(0, 92, 168) !important;
}
.dm_Help_buttons_dropdown_text{
    color:  rgb(215, 215, 215) !important;
}
.dm_offcanvas_title{
    color:rgb(183, 202, 255) !important ;
}
.dm_offcanvas_close_button{
    border:2px solid rgb(183, 202, 255) !important;
    background-color: rgb(0, 92, 168) !important;
    color: rgb(214, 225, 255) !important;
    transition-duration: 300ms;
}
.dm_offcanvas_close_button:hover{
    background-color: rgb(0, 55, 100) !important;
}
.dm_delete_all_item_button{
    background-color: rgb(133, 62, 62) !important;
    transition-duration: 300ms;
}
.dm_delete_all_item_button:hover{
    background-color: rgb(111, 44, 44) !important;
}
.dm_delete_all_item_button_text{
    color:rgb(252, 210, 210) !important ;
}
.dm_delete_all_item_button_text{
    color:rgb(252, 210, 210) !important ;
}
.dm_user_and_setting_box{
    background-color: rgb(0, 92, 168) !important;
}
.dm_user_and_setting_text{
    color:rgb(252, 210, 210) !important ;
}
.dm_setting_and_user_button{
    background-color: rgb(69, 118, 255) !important;
    border: 2px solid rgb(136, 168, 255) !important;
    transition-duration: 300ms !important;
}
.dm_setting_and_user_button:hover{
    background: rgb(148, 176, 255) !important;
    border: 2px solid rgb(160, 185, 255) !important;
}
.dm_setting_and_user_button i , .dm_setting_and_user_button span{
    transition-duration: 300ms !important;
}
.dm_setting_and_user_button:hover i , .dm_setting_and_user_button:hover span{
    color: rgb(15, 47, 132) !important;
}
.dm_offcanvas_open_button{
    border:2px solid rgb(183, 202, 255) !important;
    background-color: rgb(0, 92, 168) !important;
    color: rgb(214, 225, 255) !important;
    transition-duration: 300ms;
}
.dm_offcanvas_open_button:hover{
    background-color: rgb(0, 50, 92) !important;
}
.dm_todo_list_big_box{
    border:4px solid rgb(135, 167, 255) !important;
    background: linear-gradient(rgb(22, 48, 88) , rgb(22, 48, 88) , rgb(22, 48, 88) , rgb(14, 32, 59) , rgb(60, 105, 174)) !important;
}
.dm_heading_todo_list{
    border:2px solid rgb(135, 167, 255) !important;
    background-color: rgb(3, 85, 152) !important;
    color: rgb(214, 225, 255) !important;
}
.dm_list_box{
    background: linear-gradient(rgb(40, 79, 137) , rgb(60, 105, 174) , rgb(74, 117, 182) ,rgb(114, 155, 217)) !important;
}
.todo_header_box{
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.2)) !important;
    background: linear-gradient(rgb(40, 79, 137) , rgb(60, 105, 174) , rgb(74, 117, 182) ,rgb(114, 155, 217)) !important;
    height: 163px;
}
.dm_todo_input{
    background-color:rgb(39, 78, 136) !important;
    border:2px solid rgb(135, 167, 255) !important;
    color: rgb(197, 213, 255) !important;
}
.dm_todo_input::placeholder{
    color: rgb(183, 202, 255) !important;
}
.dm_input_beside_icon_box{
    border:2px solid rgb(135, 167, 255) !important;
    background-color:rgb(39, 78, 136) !important;
}
.dm_input_beside_icon_box i{
    color: rgb(183, 202, 255) !important;
}
.dm_around_circles , .dm_around_circles div{
    border:2px solid rgb(135, 167, 255) !important;
    background-color:rgb(39, 78, 136) !important;
}
.dm_todo_add_button{
    border:2px solid rgb(135, 167, 255) !important;
    background-color:rgb(39, 78, 136) !important;
    color: rgb(183, 202, 255) !important;
    transition-duration: 300ms;
}
.dm_todo_add_button:hover{
    background-color:rgb(23, 48, 86) !important;
}
.dm_empty_input_error{
    color: rgb(219, 228, 255) !important;
}
.dm_todo_input_and_add_button_border_box{
    border:2px solid rgb(135, 167, 255) !important;
}
.dm_todo_item_buttons_box{
    border:2px solid rgb(135, 167, 255) !important;
    background-color:rgb(39, 78, 136) !important;
    color: rgb(183, 202, 255) !important;
}
.dm_todo_item_more_buttons_box{
    border:2px solid rgb(135, 167, 255) !important;
    background-color:rgb(58, 102, 167) !important;
    color: rgb(183, 202, 255) !important;
}
.dm_more_box_button{
    border:2px solid rgb(135, 167, 255) !important;
    background-color:rgb(39, 78, 136) !important;
    color: rgb(183, 202, 255) !important;
}
.todo_item{
    border:2px solid rgb(135, 167, 255) !important;
    background-color:rgb(39, 78, 136);
    color: rgb(185, 204, 255);
}

@media (min-width: 300px) and (max-width: 484px) {
    .todo_item_style {
        width: 220px !important;
    }
    .offcanvas_help_section{
        width: 70% !important;
    }
    .todo_input_and_add_button_border_box{
        width: 90% !important;
    }
    .password_input::placeholder{
        font-size: 15px !important;
    }
    .icon_box_beside_password_input{
        height: 48px !important;
    }
    .password-box{
        width: 90% !important;
    }
    
}

@media (min-width: 485px) and (max-width: 549px) {
    .todo_item_style {
        width: 340px !important;
    }
    .offcanvas_help_section{
        width: 55% !important;
    }
    .todo_input_and_add_button_border_box{
        width:80%  ;
    }
}

@media (min-width: 550px) and (max-width: 767px) {
    .todo_item_style {
        width: 370px !important;
    }
    .offcanvas_help_section{
        width: 50% !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .todo_item_style {
        width: 550px !important;
    }
}

@media (min-width: 992px) and (max-width: 1399px) {
    .todo_item_style {
        width: 630px !important;
    }
}

@media (min-width: 1400px) and (max-width: 1499px) {
    .todo_item_style {
        width: 820px !important;
    }
    .todo_input_and_add_button_border_box{
        width:80%  ;
    }
}


/* password page ................................................................................................................ */
