/* index page ................................................................................................................ */

.background-screen{
    background-image:linear-gradient(rgba(61, 168, 255 , 0.7) , rgba(30, 154, 255 , 0.7) , rgba(0, 102, 255 , 0.7) , rgba(0, 64, 255 , 0.7) , rgba(0, 64, 255 , 0.7) , rgba(0, 102, 255 , 0.7) , rgba(30, 154, 255 , 0.7) , rgba(61, 168, 255 , 0.7)) , url(../images/to-do-list-seamless-pattern-background-business-flat-illustration-checklist-task-list-s.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}
.setting_and_user_button{
    transition-duration: 300ms;
    border: 2px solid rgba(255, 255, 255, 0) !important;
}
.setting_and_user_button:hover{
    background-color: rgb(188, 212, 253) !important;
    border: 2px solid rgb(42, 116, 255) !important;
}
.setting_box{
    width: 10px;
}
.todo_header_box{
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.2));
    background: linear-gradient(rgba(55, 165, 255, 0.7) , rgba(182, 202, 255, 0.7) , rgba(149, 207, 255, 0.7) , rgba(219, 236, 255, 0.7));
    height: 163px;
}
.list_box , .heading_todo_list{
    background: linear-gradient(rgba(78, 175, 255, 0.7) , rgba(149, 178, 255, 0.7) , rgba(185, 224, 255, 0.7) , rgba(219, 233, 255, 0.7));
}
.todo_item_span_count{
    width:20px ;
    height:20px ;
}
.todo_item_style{
    width: 820px;
    word-wrap: break-word;
    display: inline-block;
}
.todo_item_buttons_box{
    height: 50px;
    left: -247px;
}
.offcanvas_help_section{
    background: linear-gradient(rgb(179, 221, 255) , rgba(199, 221, 255, 0.9) , rgba(199, 230, 255, 0.8) , rgba(203, 224, 255, 0.6)) !important;
}
.delete_all_item_box{
    bottom: 150px;
    left: 10%;
    right: 10%;
}
.help_button_box_button i{
    transition-duration: 200ms;
    top: 7px;
    right:7px;
}
.help_button_box_button:hover i{
    top: 9px;
    right:7px;
    font-weight: bolder;
}
.delete_all_item_button{
    transition-duration: 300ms;
}
.delete_all_item_button:hover{
    background-color: rgb(255, 175, 175) !important;
}

.rubic_font{
    font-family: "Rubik", sans-serif;
}
.todo_item{
    border:2px solid rgb(209, 209, 209);
    background-color:white;
    color: black;
}







@media (min-width: 300px) and (max-width: 484px) {
    .todo_item_style {
        width: 220px !important;
    }
    .offcanvas_help_section{
        width: 70% !important;
    }
    .todo_input_and_add_button_border_box{
        width: 90% !important;
    }
    .todo_input_and_add_button_border_box{
        width: 100% !important;
    }
    .input_beside_icon_box{
        padding:0px !important;
    }
    .todo_input::placeholder{
        font-size: 15px;
    }
    .todo_add_button{
        font-size: 15px !important;
        padding: 0 !important;
    }
    .heading_todo_list{
        padding: 10px 20px !important;
    }
    .todo_header_box{
        padding: 0 !important;
    }
    .switch_light_and_dark_mode_button{
        top: 50px !important;
        left: 7px !important;
    }
    .switch_light_and_dark_mode_button i{
        font-size: 15px !important;
    }
    .offcanvas_open_button i{
        font-size: 15px !important;
    }
    .offcanvas_open_button{
        top: 5px !important;
        left: 7px !important;
    }
}

@media (min-width: 485px) and (max-width: 549px) {
    .todo_item_style {
        width: 340px !important;
    }
    .offcanvas_help_section{
        width: 55% !important;
    }
    .switch_light_and_dark_mode_button{
        top: 50px !important;
        left: 10px !important;
    }
}

@media (min-width: 550px) and (max-width: 767px) {
    .todo_item_style {
        width: 370px !important;
    }
    .offcanvas_help_section{
        width: 50% !important;
    }
    .switch_light_and_dark_mode_button{
        top: 75px !important;
        left: 16px !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .todo_item_style {
        width: 550px !important;
    }
    .switch_light_and_dark_mode_button{
        top: 75px !important;
        left: 16px !important;
    }
}

@media (min-width: 992px) and (max-width: 1399px) {
    .todo_item_style {
        width: 630px !important;
    }
    .switch_light_and_dark_mode_button{
        top: 75px !important;
        left: 16px !important;
    }
}

@media (min-width: 1400px) and (max-width: 1499px) {
    .todo_item_style {
        width: 820px !important;
    }
    .switch_light_and_dark_mode_button{
        top: 75px !important;
        left: 16px !important;
    }
}
.circle-top-right {
    top: 8px;
    right: 8px;
}
.circle-top-left {
    top: 8px;
    left: 8px;
}
.circle-bottom-right {
    bottom: 8px;
    right: 8px;
}
.circle-bottom-left {
    bottom: 8px;
    left: 8px;
}




/* password page ................................................................................................................ */

.password_page_body {
    height: 100vh;
    min-height: 100vh;
    background-image: linear-gradient(rgba(61, 168, 255 , 0.7),rgba(0, 64, 255 , 0.7)),
    url(../images/to-do-list-seamless-pattern-background-business-flat-illustration-checklist-task-list-s.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}
.password-box {
    background: linear-gradient(rgb(165, 180, 255), rgb(200, 209, 255), rgb(229, 233, 255));
    border: 4px solid #0d6efd;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.25);

    text-align: center;
    font-family: "Rubik", sans-serif;
    padding: 2rem 1.5rem;
    position: relative;
}
.enter_password_button {
    transition: 300ms;
}
.enter_password_button:hover {
    background-color: rgb(143, 233, 192) !important;
}
.reset_password_button,.check_reset_password_button {
    transition: 300ms;
}
.reset_password_button:hover,.check_reset_password_button:hover {
    background-color: rgb(255, 167, 167) !important;
}







@media (min-width: 300px) and (max-width: 484px) {
    .todo_item_style {
        width: 220px !important;
    }
    .offcanvas_help_section{
        width: 70% !important;
    }
    .todo_input_and_add_button_border_box{
        width: 90% !important;
    }
    .password_input::placeholder{
        font-size: 15px !important;
    }
    .icon_box_beside_password_input{
        height: 48px !important;
    }
    .password-box{
        width: 90% !important;
    }
    
}

@media (min-width: 485px) and (max-width: 549px) {
    .todo_item_style {
        width: 340px !important;
    }
    .offcanvas_help_section{
        width: 55% !important;
    }
    .todo_input_and_add_button_border_box{
        width:80%  ;
    }
}

@media (min-width: 550px) and (max-width: 767px) {
    .todo_item_style {
        width: 370px !important;
    }
    .offcanvas_help_section{
        width: 50% !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .todo_item_style {
        width: 550px !important;
    }
}

@media (min-width: 992px) and (max-width: 1399px) {
    .todo_item_style {
        width: 630px !important;
    }
}

@media (min-width: 1400px) and (max-width: 1499px) {
    .todo_item_style {
        width: 820px !important;
    }
    .todo_input_and_add_button_border_box{
        width:80%  ;
    }
}