/* index page (past styles) ................................................................................................................ */

.background-screen{
    background-image:linear-gradient(rgba(0, 33, 60, 0.9)) , url(../images/to-do-list-seamless-pattern-background-business-flat-illustration-checklist-task-list-s.jpg) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    height: auto !important;
    min-height: 100vh !important;
    justify-content: center !important;
    align-items: center !important;
}
.setting_and_user_button{
    transition-duration: 300ms !important;
    border: 2px solid rgba(255, 255, 255, 0) !important;
}
.setting_and_user_button:hover{
    background-color: rgb(188, 212, 253) !important;
    border: 2px solid rgb(42, 116, 255) !important;
}
.setting_box{
    width: 10px;
}
.todo_item_span_count{
    width:20px ;
    height:20px ;
}
.todo_item_style{
    width: 820px;
    word-wrap: break-word;
    display: inline-block;
}
.todo_item_buttons_box{
    height: 50px;
    left: -250px;
}
.offcanvas_help_section{
    background: linear-gradient(rgb(0, 68, 123) , rgb(0, 68, 123 , 0.8) , rgb(0, 68, 123 , 0.6) , rgb(0, 68, 123 , 0.4) , rgb(0, 68, 123 , 0.2)) !important;
}
.delete_all_item_box{
    bottom: 150px;
    left: 10%;
    right: 10%;
}
.help_button_box_button i{
    transition-duration: 200ms;
    top: 7px;
    right:7px;
}
.help_button_box_button:hover i{

    top: 9px;
    right:7px;
    font-weight: bolder;
}
.delete_all_item_button{
    transition-duration: 300ms;
}
.delete_all_item_button:hover{
    background-color: rgb(255, 175, 175) !important;
}
.rubic_font{
    font-family: "Rubik", sans-serif;
}
.switch_light_and_dark_mode_button{
    border:2px solid rgb(183, 202, 255) !important;
    background-color: rgb(0, 92, 168) !important;
    color: rgb(214, 225, 255) !important;
    transition-duration: 300ms;
}
.switch_light_and_dark_mode_button:hover{
    background-color: rgb(0, 60, 109) !important;
}
.circle-top-right {
    top: 8px;
    right: 8px;
}
.circle-top-left {
    top: 8px!important;
    left: 8px!important;
}
.circle-bottom-right {
    bottom: 8px;
    right: 8px;
}
.circle-bottom-left {
    bottom: 8px;
    left: 8px;
}


@media (min-width: 300px) and (max-width: 484px) {
    .todo_item{
        padding:2px 0 !important;
        width: 300px !important;
    }
    .offcanvas_help_section{
        width: 70% !important;
    }
    .todo_input_and_add_button_border_box{
        width: 90% !important;
    }
    .password_input::placeholder{
        font-size: 15px !important;
    }
    .todo_item_style {
        width: 220px !important;
        font-size: 15px !important;
    }
    .offcanvas_help_section{
        width: 70% !important;
    }
    .todo_input_and_add_button_border_box{
        width: 90% !important;
        padding: 3px 0 !important;
    }
    .input_beside_icon_box{
        padding:0px !important;
    }
    .todo_input::placeholder{
        font-size: 15px;
    }
    .todo_add_button{
        font-size: 15px !important;
        padding: 0 !important;
        width:55px !important ;
        height:38px !important ;
    }
    .heading_todo_list{
        padding: 10px 20px !important;
    }
    .todo_header_box{
        padding: 0 !important;
        height: 130px !important;
    }
    .switch_light_and_dark_mode_button{
        top: 5px !important;
        right: 7px !important;
    }
    .switch_light_and_dark_mode_button i{
        font-size: 15px !important;
    }
    .offcanvas_open_button i{
        font-size: 15px !important;
    }
    .offcanvas_open_button{
        top: 5px !important;
        left: 7px !important;
    }
    .todo_list_big_box{
        height:85vh ;
    }
    .todo_item_buttons_box{
        height: 37px !important;
        padding: 0 !important;
        left: -168px !important;
    }
    .todo_item_buttons_box button{
        width: 30px !important;
        height: 30px !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        margin: 1px !important;
    }
    .todo_item_buttons_box button i{
        font-size: 15px !important;
    }
    .todo_item_more_buttons_box{
        width: 35px !important;
        height: 35px;
    }
    .more_box_button{
        width: 30px !important;
        height: 30px !important;
    }
}

@media (min-width: 485px) and (max-width: 549px) {
    .todo_item {
        width: 400px !important;
    }
    .offcanvas_help_section{
        width: 55% !important;
    }
    .switch_light_and_dark_mode_button{
        top: 50px !important;
        left: 7px !important;
    }
    .switch_light_and_dark_mode_button i{
        font-size: 15px !important;
    }
    .offcanvas_open_button i{
        font-size: 15px !important;
    }
    .offcanvas_open_button{
        top: 5px !important;
        left: 7px !important;
    }
}

@media (min-width: 550px) and (max-width: 767px) {
    .todo_item {
        width: 480px !important;
    }
    .offcanvas_help_section{
        width: 50% !important;
    }
    .switch_light_and_dark_mode_button{
        top: 50px !important;
        left: 7px !important;
    }
    .switch_light_and_dark_mode_button i{
        font-size: 15px !important;
    }
    .offcanvas_open_button i{
        font-size: 15px !important;
    }
    .offcanvas_open_button{
        top: 5px !important;
        left: 7px !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .todo_item {
        width: 650px !important;
    }
    .switch_light_and_dark_mode_button{
        top: 50px !important;
        left: 7px !important;
    }
    .switch_light_and_dark_mode_button i{
        font-size: 15px !important;
    }
    .offcanvas_open_button i{
        font-size: 15px !important;
    }
    .offcanvas_open_button{
        top: 5px !important;
        left: 7px !important;
    }
}

@media (min-width: 992px) and (max-width: 1399px) {
    .todo_item {
        width: 730px !important;
    }
    .switch_light_and_dark_mode_button{
        top: 50px !important;
        left: 7px !important;
    }
    .switch_light_and_dark_mode_button i{
        font-size: 15px !important;
    }
    .offcanvas_open_button i{
        font-size: 15px !important;
    }
    .offcanvas_open_button{
        top: 5px !important;
        left: 7px !important;
    }
}

@media (min-width: 1400px) and (max-width: 1499px) {
    .todo_item {
        width: 920px !important;
    }
    .switch_light_and_dark_mode_button{
        top: 50px !important;
        left: 7px !important;
    }
    .switch_light_and_dark_mode_button i{
        font-size: 15px !important;
    }
    .offcanvas_open_button i{
        font-size: 15px !important;
    }
    .offcanvas_open_button{
        top: 5px !important;
        left: 7px !important;
    }
}

@media (min-width: 1499px) {
    .todo_item {
        width: 920px !important;
    }
    .switch_light_and_dark_mode_button{
        top: 70px !important;
        left: 7px !important;
    }
    .offcanvas_open_button{
        top: 5px !important;
        left: 7px !important;
    }
    .todo_item_more_buttons_box{
        width: 45px !important;
        height: 45px !important;
    }
    .more_box_button{
        width: 35px !important;
        height: 35px !important;
    }
}

.circle-top-right {
    top: 8px;
    right: 8px;
}
.circle-top-left {
    top: 8px;
    left: 8px;
}
.circle-bottom-right {
    bottom: 8px;
    right: 8px;
}
.circle-bottom-left {
    bottom: 8px;
    left: 8px;
}



/* index page (new styles) ................................................................................................................ */
.dm_remove_all_item_text{
    color: rgb(215, 215, 215) !important;
}
.dm_Help_buttons_button{
    color: rgb(183, 202, 255) !important;
    border: 2px solid rgb(183, 202, 255) !important;
}
.dm_Help_buttons_box{
    background-color: rgb(0, 92, 168) !important;
}
.dm_Help_buttons_text{
    color:  rgb(0, 92, 168) !important;
}
.dm_offcanvas_title{
    color:rgb(183, 202, 255) !important ;
}
.dm_offcanvas_close_button{
    border:2px solid rgb(183, 202, 255) !important;
    background-color: rgb(0, 92, 168) !important;
    color: rgb(214, 225, 255) !important;
    transition-duration: 300ms;
}
.dm_offcanvas_close_button:hover{
    background-color: rgb(0, 55, 100) !important;
}
.dm_delete_all_item_button{
    background-color: rgb(133, 62, 62) !important;
    transition-duration: 300ms;
}
.dm_delete_all_item_button:hover{
    background-color: rgb(111, 44, 44) !important;
}
.dm_delete_all_item_button_text{
    color:rgb(252, 210, 210) !important ;
}
.dm_delete_all_item_button_text{
    color:rgb(252, 210, 210) !important ;
}
.dm_user_and_setting_box{
    background-color: rgb(0, 92, 168) !important;
}
.dm_user_and_setting_text{
    color:rgb(252, 210, 210) !important ;
}
.dm_setting_and_user_button{
    background-color: rgb(69, 118, 255) !important;
    border: 2px solid rgb(136, 168, 255) !important;
    transition-duration: 300ms !important;
}
.dm_setting_and_user_button:hover{
    background: rgb(148, 176, 255) !important;
    border: 2px solid rgb(160, 185, 255) !important;
}
.dm_setting_and_user_button i , .dm_setting_and_user_button span{
    transition-duration: 300ms !important;
}
.dm_setting_and_user_button:hover i , .dm_setting_and_user_button:hover span{
    color: rgb(15, 47, 132) !important;
}
.dm_offcanvas_open_button{
    border:2px solid rgb(183, 202, 255) !important;
    background-color: rgb(0, 92, 168) !important;
    color: rgb(214, 225, 255) !important;
    transition-duration: 300ms;
}
.dm_offcanvas_open_button:hover{
    background-color: rgb(0, 50, 92) !important;
}
.dm_todo_list_big_box{
    border:4px solid rgb(135, 167, 255) !important;
    background: linear-gradient(rgb(22, 48, 88) , rgb(22, 48, 88) , rgb(22, 48, 88) , rgb(14, 32, 59) , rgb(60, 105, 174)) !important;
}
.dm_heading_todo_list{
    border:2px solid rgb(135, 167, 255) !important;
    background-color: rgb(3, 85, 152) !important;
    color: rgb(214, 225, 255) !important;
}
.dm_list_box{
    background: linear-gradient(rgb(40, 79, 137) , rgb(60, 105, 174) , rgb(74, 117, 182) ,rgb(114, 155, 217)) !important;
}
.dm_list_box {
    max-height: 50vh !important;
    overflow-y: auto !important;
}
.dm_list_box::-webkit-scrollbar{
    width: 10px !important;
}
.dm_list_box::-webkit-scrollbar-track {
    background: #b9cdff;
}
.dm_list_box::-webkit-scrollbar-thumb {
    background: #576997;
    border-radius: 10px;
}
.todo_header_box{
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.2)) !important;
    background: linear-gradient(rgb(40, 79, 137) , rgb(60, 105, 174) , rgb(74, 117, 182) ,rgb(114, 155, 217)) !important;
    height: 163px;
}
.dm_todo_input{
    background-color:rgb(39, 78, 136) !important;
    border:2px solid rgb(135, 167, 255) !important;
    color: rgb(197, 213, 255) !important;
}
.dm_todo_input::placeholder{
    color: rgb(183, 202, 255) !important;
}
.dm_input_beside_icon_box{
    border:2px solid rgb(135, 167, 255) !important;
    background-color:rgb(39, 78, 136) !important;
}
.dm_input_beside_icon_box i{
    color: rgb(183, 202, 255) !important;
}
.dm_around_circles , .dm_around_circles div{
    border:2px solid rgb(135, 167, 255) !important;
    background-color:rgb(39, 78, 136) !important;
}
.dm_todo_add_button{
    border:2px solid rgb(135, 167, 255) !important;
    background-color:rgb(39, 78, 136) !important;
    color: rgb(183, 202, 255) !important;
    transition-duration: 300ms;
}
.dm_todo_add_button:hover{
    background-color:rgb(23, 48, 86) !important;
}
.dm_empty_input_error{
    color: rgb(219, 228, 255) !important;
}
.dm_todo_input_and_add_button_border_box{
    border:2px solid rgb(135, 167, 255) !important;
}
.dm_todo_item_buttons_box{
    border:2px solid rgb(135, 167, 255) !important;
    background-color:rgb(39, 78, 136) !important;
    color: rgb(183, 202, 255) !important;
}
.dm_todo_item_more_buttons_box{
    border:2px solid rgb(135, 167, 255) !important;
    background-color:rgb(58, 102, 167) !important;
    color: rgb(183, 202, 255) !important;
}
.dm_more_box_button{
    border:2px solid rgb(135, 167, 255) !important;
    background-color:rgb(39, 78, 136) !important;
    color: rgb(183, 202, 255) !important;
}
.todo_item{
    border:2px solid rgb(135, 167, 255) !important;
    background-color:rgb(39, 78, 136);
    color: rgb(185, 204, 255);
}




@media (min-width: 300px) and (max-width: 484px) {
    .todo_item{
        padding:2px 0 !important;
        width: 300px !important;
    }
    .offcanvas_help_section{
        width: 70% !important;
    }
    .todo_input_and_add_button_border_box{
        width: 90% !important;
        padding: 3px 0 !important;
    }
    .todo_item_style{
        font-size: 15px !important;
    }
    .offcanvas_help_section{
        width: 70% !important;
    }
    .input_beside_icon_box{
        padding:0px !important;
    }
    .todo_input{
        font-size: 15px !important;
    }
    .todo_input::placeholder{
        font-size: 15px !important;
    }
    .todo_add_button{
        font-size: 15px !important;
        padding: 0 !important;
        width:55px !important ;
        height:38px !important ;
    }
    .heading_todo_list{
        padding: 10px 20px !important;
    }
    .todo_header_box{
        padding: 0 !important;
        height: 130px !important;
    }
    .switch_light_and_dark_mode_button{
        top: 5px !important;
        right: 7px !important;
    }
    .switch_light_and_dark_mode_button i{
        font-size: 15px !important;
    }
    .offcanvas_open_button i{
        font-size: 15px !important;
    }
    .offcanvas_open_button{
        top: 5px !important;
        left: 7px !important;
    }
    .todo_list_big_box{
        height:85vh  !important;
    }
    .todo_item_buttons_box{
        height: 37px !important;
        padding: 0 !important;
        left: -168px !important;
    }
    .todo_item_buttons_box button{
        width: 30px !important;
        height: 30px !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        margin: 1px !important;
    }
    .todo_item_buttons_box button i{
        font-size: 15px !important;
    }
    .todo_item_more_buttons_box{
        width: 35px !important;
        height: 35px;
    }
    .more_box_button{
        width: 30px !important;
        height: 30px !important;
    }
    .remove_all_item_text{
        font-size: 13px !important;
    }
    .delete_all_item_text{
        font-size: 13px !important;
    }
    .user_and_setting_text{
        font-size: 13px !important;
    }
    .user_and_setting_text{
        font-size: 13px !important;
    }
}

@media (min-width: 485px) and (max-width: 549px) {
    .todo_item {
        width: 400px !important;
        padding: 5px 0 2px 2px !important;
    }
    .todo_input_and_add_button_border_box{
        width: 90% !important;
        padding: 3px 0 !important;
    }
    .input_beside_icon_box{
        padding:0px !important;
        height: 40px;
    }
    .todo_input{
        font-size: 15px !important;
        height: 40px;
    }
    .todo_input::placeholder{
        font-size: 15px !important;
    }
    .todo_add_button{
        font-size: 15px !important;
        padding: 0 !important;
        width:55px !important ;
        height:38px !important ;
    }
    .heading_todo_list{
        padding: 10px 20px !important;
    }
    .todo_header_box{
        padding: 0 !important;
        height: 130px !important;
    }
    .offcanvas_help_section{
        width: 55% !important;
    }
    .switch_light_and_dark_mode_button{
        top: 50px !important;
        left: 7px !important;
    }
    .switch_light_and_dark_mode_button i{
        font-size: 15px !important;
    }
    .offcanvas_open_button i{
        font-size: 15px !important;
    }
    .offcanvas_open_button{
        top: 5px !important;
        left: 7px !important;
    }
        .remove_all_item_text{
        font-size: 13px !important;
    }
    .delete_all_item_text{
        font-size: 13px !important;
    }
    .user_and_setting_text{
        font-size: 13px !important;
    }
    .user_and_setting_text{
        font-size: 13px !important;
    }
}

@media (min-width: 550px) and (max-width: 767px) {
    .todo_item {
        width: 480px !important;
        padding: 5px 0 2px 2px !important;
    }
    .todo_input_and_add_button_border_box{
        width: 90% !important;
        padding: 3px 0 !important;
    }
    .offcanvas_help_section{
        width: 50% !important;
    }
    .switch_light_and_dark_mode_button{
        top: 50px !important;
        left: 7px !important;
    }
    .switch_light_and_dark_mode_button i{
        font-size: 15px !important;
    }
    .offcanvas_open_button i{
        font-size: 15px !important;
    }
    .offcanvas_open_button{
        top: 5px !important;
        left: 7px !important;
    }
        .remove_all_item_text{
        font-size: 13px !important;
    }
    .delete_all_item_text{
        font-size: 13px !important;
    }
    .user_and_setting_text{
        font-size: 13px !important;
    }
    .user_and_setting_text{
        font-size: 13px !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .todo_item {
        width: 650px !important;
        padding: 5px 0 2px 2px !important;
    }
    .todo_input_and_add_button_border_box{
        width: 90% !important;
        padding: 3px 0 !important;
    }
    .switch_light_and_dark_mode_button{
        top: 50px !important;
        left: 7px !important;
    }
    .switch_light_and_dark_mode_button i{
        font-size: 15px !important;
    }
    .offcanvas_open_button i{
        font-size: 15px !important;
    }
    .offcanvas_open_button{
        top: 5px !important;
        left: 7px !important;
    }
        .remove_all_item_text{
        font-size: 15px !important;
    }
    .delete_all_item_text{
        font-size: 15px !important;
    }
    .user_and_setting_text{
        font-size: 15px !important;
    }
    .user_and_setting_text{
        font-size: 15px !important;
    }
}

@media (min-width: 992px) and (max-width: 1399px) {
    .todo_item {
        width: 730px !important;
        padding: 5px 0 2px 2px !important;
    }
    .switch_light_and_dark_mode_button i{
        font-size: 25px !important;
    }
    .offcanvas_open_button i{
        font-size: 25px !important;
    }
    .switch_light_and_dark_mode_button{
        top: 70px !important;
        left: 7px !important;
    }
    .offcanvas_open_button{
        top: 5px !important;
        left: 7px !important;
    }
}

@media (min-width: 1400px) and (max-width: 1499px) {
    .todo_item {
        width: 920px !important;
        padding: 5px 0 2px 2px !important;
    }
    .switch_light_and_dark_mode_button i{
        font-size: 25px !important;
    }
    .offcanvas_open_button i{
        font-size: 25px !important;
    }
    .switch_light_and_dark_mode_button{
        top: 70px !important;
        left: 7px !important;
    }
    .offcanvas_open_button{
        top: 5px !important;
        left: 7px !important;
    }
}

@media (min-width: 1499px) {
    .todo_item {
        width: 920px !important;
        padding: 5px 0 2px 2px !important;
    }
    .switch_light_and_dark_mode_button{
        top: 70px !important;
        left: 7px !important;
    }
    .offcanvas_open_button{
        top: 5px !important;
        left: 7px !important;
    }
    .todo_item_more_buttons_box{
        width: 45px !important;
        height: 45px !important;
        margin-bottom: 5px !important;
    }
    .more_box_button{
        width: 35px !important;
        height: 35px !important;
    }
}

/* personal-dashboard-page ................................................................................................................ */


.personal-dashboard-box{
    background: linear-gradient(rgb(40, 79, 137) , rgb(60, 105, 174) , rgb(74, 117, 182) ,rgb(114, 155, 217)) !important;
}
.personal-dashboard-inner-box{
    background: linear-gradient(rgb(40, 79, 137) , rgb(60, 105, 174)) !important;
}
.personal-dashboard-section-outer-box{
    background: linear-gradient(rgb(117, 146, 190) , rgb(176, 208, 255)) !important;
}
.personal-dashboard-section{
    background: linear-gradient(rgb(117, 146, 190) , rgb(176, 208, 255)) !important;
    max-height: 60vh !important;
    overflow-y: auto !important;
}
.personal-dashboard-section::-webkit-scrollbar{
    width: 10px !important;
}
.personal-dashboard-section::-webkit-scrollbar-track {
    background: #b9cdff;
}
.personal-dashboard-section::-webkit-scrollbar-thumb {
    background: #576997;
    border-radius: 10px;
}
.back_to_home_page_button{
    top: 5px !important;
    left: 7px !important;
    border:2px solid rgb(183, 202, 255) !important;
    background-color: rgb(0, 92, 168) !important;
    color: rgb(214, 225, 255) !important;
    transition-duration: 300ms;
}
.back_to_home_page_button:hover{
    background-color: rgb(0, 60, 109) !important;
}
.personal_dashboard_page_title{
    color: rgb(183, 202, 255) !important;
}
.personal-dashboard-section-title-color{
    color: rgb(224, 232, 255) !important;
}
.personal-dashboard-section-outer-box{
    border:4px solid rgb(135, 167, 255) !important;
}








@media (min-width: 300px) and (max-width: 484px) {
    .personal_dashboard_section_title{
        color: #1e3b7e !important;
        font-size: 20px !important;
    }
    .personal_dashboard_section_lable{
        color: #2b4179 !important;
        font-size: 14px !important;
    }
    .back_to_home_page_button{
        top: 5px !important;
        left: 7px !important;
    }
    .back_to_home_page_button i{
        font-size: 15px !important;
    }
    .personal_dashboard_section_lable{
        width: 55% !important;
    }
    .personal_dashboard_section_input{
        height: 28px !important;
        width: 55% !important;
        font-size: 12px !important;
        background-color:rgb(102, 148, 216) !important;
        border:2px solid rgb(56, 82, 151) !important;
        color: #071434 !important;
    }
    .personal_dashboard_section_textarea{
        height: auto !important;
        width: 55% !important;
        font-size: 12px !important;
        background-color:rgb(102, 148, 216) !important;
        border:2px solid rgb(56, 82, 151) !important;
        color: #071434 !important;
    }
    .personal_dashboard_section_birthday_input{
        padding: 5px !important;
        font-size: 13px !important;
        border:2px solid rgb(56, 82, 151) !important;
        border-radius: 10px !important;
        color: #071434 !important;
        width: 50% !important;
        transition: 0.3s !important;
    }
    .line_between_personal_dashboard_section_inputs{
        width: 50% !important;
    }
    .Help_buttons_box{
        margin-left: 30px !important;
    }
    .Help_buttons_text{
        font-size: 13px !important;
    }
    .personal_dashboard_section_gender_lable_text{
        font-size: 11px !important;
    }
    .personal_dashboard_section_gender_lable{
        width: 45% !important;
        background-color:rgb(170, 197, 238) !important;
        border:1px solid rgb(56, 82, 151) !important;
    }
    .personal_dashboard_section_gender_input{
        width: 10px !important;
    }
}

@media (min-width: 485px) and (max-width: 549px) {
    .personal_dashboard_section_title{
        color: #1e3b7e !important;
        font-size: 20px !important;
    }
    .personal_dashboard_section_lable{
        color: #2b4179 !important;
        font-size: 15px !important;
    }
    .back_to_home_page_button{
        top: 5px !important;
        left: 7px !important;
    }
    .back_to_home_page_button i{
        font-size: 15px !important;
    }
    .personal_dashboard_section_lable{
        width: 35% !important;
    }
    .personal_dashboard_section_input{
        height: 28px !important;
        width: 70% !important;
        font-size: 12px !important;
        background-color:rgb(102, 148, 216) !important;
        border:2px solid rgb(56, 82, 151) !important;
        color: #071434 !important;
    }
    .personal_dashboard_section_textarea{
        height: auto !important;
        width: 70% !important;
        font-size: 12px !important;
        background-color:rgb(102, 148, 216) !important;
        border:2px solid rgb(56, 82, 151) !important;
        color: #071434 !important;
    }
    .line_between_personal_dashboard_section_inputs{
        width: 33% !important;
    }
    .personal_dashboard_section_gender_lable_text{
        font-size: 13px !important;
    }
    .personal_dashboard_section_gender_lable{
        width: 45% !important;
        background-color:rgb(170, 197, 238) !important;
        border:1px solid rgb(56, 82, 151) !important;
    }
    .personal_dashboard_section_gender_input{
        width: 10px !important;
    }
}

@media (min-width: 550px) and (max-width: 767px) {
    .personal_dashboard_section_title{
        color: #1e3b7e !important;
        font-size: 20px !important;
    }
    .personal_dashboard_section_lable{
        color: #2b4179 !important;
        font-size: 17px !important;
    }
    .back_to_home_page_button{
        top: 5px !important;
        left: 7px !important;
    }
    .back_to_home_page_button i{
        font-size: 15px !important;
    }
    .personal_dashboard_section_lable{
        width: 35% !important;
    }
    .personal_dashboard_section_input{
        height: 28px !important;
        width: 60% !important;
        font-size: 12px !important;
        background-color:rgb(102, 148, 216) !important;
        border:2px solid rgb(56, 82, 151) !important;
        color: #071434 !important;
    }
    .personal_dashboard_section_textarea{
        height: auto !important;
        width: 60% !important;
        font-size: 12px !important;
        background-color:rgb(102, 148, 216) !important;
        border:2px solid rgb(56, 82, 151) !important;
        color: #071434 !important;
    }
    .line_between_personal_dashboard_section_inputs{
        width: 35% !important;
    } 
    
    .personal_dashboard_section_gender_lable_text{
        font-size: 13px !important;
    }
    .personal_dashboard_section_gender_lable{
        width: 45% !important;
        background-color:rgb(170, 197, 238) !important;
        border:1px solid rgb(56, 82, 151) !important;
    }
    .personal_dashboard_section_gender_input{
        width: 10px !important;
        margin-right: 5px !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .personal_dashboard_section_title{
        color: #1e3b7e !important;
        font-size: 20px !important;
    }
    .personal_dashboard_section_lable{
        color: #2b4179 !important;
        font-size: 18px !important;
    }
    .back_to_home_page_button{
        top: 5px !important;
        left: 7px !important;
    }
    .back_to_home_page_button i{
        font-size: 15px !important;
    }
    .personal_dashboard_section_lable{
        width: 28% !important;
        margin-left: 20px !important;
    }
    .personal_dashboard_section_input{
        height: 28px !important;
        width: 50% !important;
        font-size: 12px !important;
        background-color:rgb(102, 148, 216) !important;
        border:2px solid rgb(56, 82, 151) !important;
        color: #071434 !important;
    }
    .personal_dashboard_section_textarea{
        height: auto !important;
        width: 50% !important;
        font-size: 12px !important;
        background-color:rgb(102, 148, 216) !important;
        border:2px solid rgb(56, 82, 151) !important;
        color: #071434 !important;
    }
    .line_between_personal_dashboard_section_inputs{
        width: 28% !important;
        margin-left: 20px !important;
    }
    .personal_dashboard_section_gender_lable_text{
        font-size: 14px !important;
    }
    .personal_dashboard_section_gender_lable{
        width: 45% !important;
        background-color:rgb(170, 197, 238) !important;
        border:1px solid rgb(56, 82, 151) !important;
    }
    .personal_dashboard_section_gender_input{
        width: 10px !important;
        margin-right: 5px !important;
    }
}

@media (min-width: 992px) and (max-width: 1399px) {
    .personal_dashboard_section_title{
        color: #1e3b7e !important;
        font-size: 20px !important;
    }
    .personal_dashboard_section_lable{
        color: #2b4179 !important;
        font-size: 20px !important;
    }
    .personal_dashboard_section_lable{
        width:25% !important;
        margin-left: 30px !important;
    }
    .personal_dashboard_section_input{
        height: 28px !important;
        width: 45% !important;
        font-size: 14px !important;
        background-color:rgb(102, 148, 216) !important;
        border:2px solid rgb(56, 82, 151) !important;
        color: #071434 !important;
    }
    .personal_dashboard_section_textarea{
        height: auto !important;
        width: 45% !important;
        font-size: 14px !important;
        background-color:rgb(102, 148, 216) !important;
        border:2px solid rgb(56, 82, 151) !important;
        color: #071434 !important;
    }
    .line_between_personal_dashboard_section_inputs{
        width:25% !important;
        margin-left: 30px !important;
    }
    .personal_dashboard_section_gender_lable_text{
        font-size: 15px !important;
    }
    .personal_dashboard_section_gender_lable{
        width: 45% !important;
        background-color:rgb(170, 197, 238) !important;
        border:1px solid rgb(56, 82, 151) !important;
    }
    .personal_dashboard_section_gender_input{
        width: 10px !important;
        margin-right: 5px !important;
    }
}

@media (min-width: 1400px) and (max-width: 1499px) {
    .personal_dashboard_section_title{
        color: #1e3b7e !important;
        font-size: 20px !important;
    }
    .personal_dashboard_section_lable{
        color: #2b4179 !important;
        font-size: 20px !important;
    }
    .personal_dashboard_section_lable{
        width: 20% !important;
        margin-left: 40px !important;
    }
    .personal_dashboard_section_input{
        height: 30px !important;
        width: 40% !important;
        font-size: 16px !important;
        background-color:rgb(102, 148, 216) !important;
        border:2px solid rgb(56, 82, 151) !important;
        color: #071434 !important;
    }
    .personal_dashboard_section_textarea{
        height: auto !important;
        width: 40% !important;
        font-size: 16px !important;
        background-color:rgb(102, 148, 216) !important;
        border:2px solid rgb(56, 82, 151) !important;
        color: #071434 !important;
    }
    .line_between_personal_dashboard_section_inputs{
        width: 20% !important;
        margin-left: 40px !important;
    }
    .personal_dashboard_section_gender_lable_text{
        font-size: 15px !important;
    }
    .personal_dashboard_section_gender_lable{
        width: 45% !important;
        background-color:rgb(170, 197, 238) !important;
        border:1px solid rgb(56, 82, 151) !important;
    }
    .personal_dashboard_section_gender_input{
        width: 10px !important;
        margin-right: 5px !important;
    }
}

@media (min-width: 1499px) {
    .personal_dashboard_section_title{
        color: #1e3b7e !important;
        font-size: 20px !important;
    }
    .personal_dashboard_section_lable{
        color: #2b4179 !important;
        font-size: 20px !important;
    }
    .personal_dashboard_section_lable{
        width: 23% !important;
        margin-left: 60px !important;
    }
    .personal_dashboard_section_input{
        height: 33px !important;
        width: 40% !important;
        font-size: 17px !important;
        background-color:rgb(102, 148, 216) !important;
        border:2px solid rgb(56, 82, 151) !important;
        color: #071434 !important;
    }
    .personal_dashboard_section_textarea{
        height: auto !important;
        width: 40% !important;
        font-size: 17px !important;
        background-color:rgb(102, 148, 216) !important;
        border:2px solid rgb(56, 82, 151) !important;
        color: #071434 !important;
    }
    .line_between_personal_dashboard_section_inputs{
        width: 23% !important;
        margin-left: 60px !important;
    }
    .personal_dashboard_section_gender_lable_text{
        font-size: 15px !important;
    }.personal_dashboard_section_gender_lable{
        width: 45% !important;
        background-color:rgb(170, 197, 238) !important;
        border:1px solid rgb(56, 82, 151) !important;
    }
    .personal_dashboard_section_gender_input{
        width: 10px !important;
        margin-right: 5px !important;
    }
}